@tailwind base;
@tailwind components;
@tailwind utilities;

* {
 -webkit-tap-highlight-color: transparent;
 -webkit-scrollbar-display: none;

 -ms-overflow-style: none; /* IE and Edge */
 scrollbar-width: none; /* Firefox */
 font-family: "Satoshi-Variable";
 -webkit-font-smoothing: auto;
 -moz-osx-font-smoothing: auto;
 color: #403C4B;
}

html {
 font-family: "Inter", sans-serif;
}


